*{
    margin: 0;
    background-color: #ffc0cb;
}

/* -----------------------------------------NAV---------------------------------------------- */

nav{
    width: 100vw;
    height: 40px;
    background-color: #5272ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.caja-nav{
    width: 90%;
    height: 60px;
 }

.ul-navegacion{
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none; 
    padding: 0; 
    background-color: #5272ff;
}

.li-navegacion{
    background-color: #5272ff;
    font-family: "Raleway";
    font-size: 24px;
    color: white;
    text-decoration: none;
}
.contenedor-navi{
   background-color: #5272ff;
}


.logo-nav{
    width: 140px;
    margin: 0px 30px;
}

.fi-br-menu-burger{
    background-color: #5272ff;
    color: #ffc0cb;
    font-size: 20px;
    margin: 0px 30px;
}

/* -----------------------------------------------HEADER----------------------------------------------- */

.contenedor-hero{
    height: 400px;
    background-color: #ffc0cb;
    border: 3px solid rgb(255, 255, 139) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caja-hero{
    width: 90%;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.parrafo-hero1{
    width: 100%;
    font-family: "Raleway";
    font-size: 18px;
    text-align: center;
    margin: 10px;
}

h1{
    font-family: "Dancing Script";
    margin: 0px 5px 5px 5px ;
}

.img-hero{
    width: 65%;
}

.parrafo-hero2{
    width: 100%;
    height: 40px;
    font-family: "Raleway";
    font-size: 10px;
    text-align: center;
    margin: 10px 25px;
}

.boton-hero{
    font-family: "Dancing Script";
   background-color:rgb(255, 255, 139) ;
     margin: 12px;
    padding: 10px;
     font-size: 20px;
     border: none;
     border-radius: 5px;
     box-shadow: 8px 4px 20px 11px rgba(137,145,232,0.56);
     -webkit-box-shadow: 8px 4px 20px 11px rgba(137,145,232,0.56);
     -moz-box-shadow: 8px 4px 20px 11px rgba(137,145,232,0.56);
}

.boton-hero:hover{
    cursor: pointer;
    background-color: #5272ff;
    color: white;
}

/* ------------------------------------------MAIN----------------------------------------------------- */

main{
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, #94bbe9 100%);
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.titulo-conocimiento{
    font-family: "Dancing Script";
    background-color: #9dbae6;
    margin: 3px;
    font-size: 35px;
}

.parrafo-conocimiento{
    width: 300px;
    font-size: 8px;
    margin: 3px;
    padding: 3px;
    text-align: center;
    background-color: #b2b6de;
    font-family: "Raleway";
    font-size: 12px;
}

.contenedor-imagenes{
    background: radial-gradient(circle, rgba(255,255,139,0.7175245098039216) 3%, rgba(253,254,139,0.87718837535014) 6%, rgba(184,233,148,1) 91%);
    border-radius: 10px;
    width: 120px;
    height: 120px;
    display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}


.p-conocimiento{
    background-color: #ffff8b;
    font-family: "Dancing Script";
}

.imagenes{
    width: 60px;
    margin: 10px;
    background-color: #ffff8b;
}

/* --------------------------------------SECTION CITA----------------------------------------- */

.seccion-cita{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: "Dancing Script";
}

#icono-cita{
    width: 50px;
    height: 30px;
    margin: 0px 25px;
    text-align: center;
}

.fi-sc-quote-right{
    font-size: 30px;
}

.cita{
    width: 300px;
    height: 80px;
    text-align: center;
    font-size: 16px;
}

#autor-cita{
    font-size: 20px;
  margin-bottom: 20px;
}

/* -----------------------------------------SECTION PROYECTOS---------------------------------------- */

.contenedor-proyecto{
    height: 1200px;
    background-color: #ffff8b;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.texto-proyecto{
    width: 230px;
    font-family: "Dancing Script";
    background: radial-gradient(circle, rgba(255,192,203,1) 12%, rgba(198,82,255,0.773546918767507) 63%, rgba(255,192,203,1) 100%);
    margin: 3px;
    padding: 10px;
    text-align: center;
    font-size: 35px;
    border-radius: 25px;
}

.parrafo-proyecto{
    width: 250px;
    margin: 3px;
    padding: 3px;
    text-align: center;
    background-color: #ffff8b;
    font-family: "Raleway";
    font-size: 12px;
}

.contenedorimg-proyecto{
    width: 150px;
    height: 130px;
    background: radial-gradient(circle, rgba(255,192,203,1) 12%, rgba(198,82,255,0.773546918767507) 63%, rgba(255,192,203,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 

.img-proyecto{
    width: 130px;
    height: 80px;
}

.texto-img{
    width: 100%;
    font-family: "Raleway";
    background-color: white;
    font-size: 14px;
    text-align: center;
    margin-top: 8px;
}

/* --------------------------------------------SECTION CONTACTO Y FORMULARIO------------------------------------- */

.contenedor-secciones{
    background-color: #ffff8b;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-contacto{
    border: 5px double #5272ff;
    background: linear-gradient(51deg, rgba(255,255,139,0.8995973389355743) 18%, rgba(255,192,203,0.8547794117647058) 85%);  
    width: 90%;      
    height: 850px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.caja-contacto{
    width: 90%;
    height: 425px;
    margin: 0;
    background: linear-gradient(51deg, rgba(255,255,139,0.8995973389355743) 18%, rgba(255,192,203,0.8547794117647058) 85%);
}
.titulo-contactame{
    font-family: "Dancing Script";
    width: 120px;
    margin: 8px auto ;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    background-color: #5272ffd0;
    border-radius: 20px;
    color: white;
}
.texto-contactame{
    font-family: "Raleway";
    text-align: center;
    font-size: 14px;
    margin: 10px 8px;
    background: linear-gradient(51deg, rgba(255,255,139,0.8995973389355743) 18%, rgba(255,192,203,0.8547794117647058) 85%);
}

.ul-contactame {
    height: 60%;
    margin: 2px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    list-style: none;
    font-family: "Raleway";
    font-size: 20px;
    background: linear-gradient(51deg, rgba(255,255,139,0.8995973389355743) 18%, rgba(255,192,203,0.8547794117647058) 85%);

}

.li-icono{
  width: 230px;
  height: 35px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

}
 
.p-icono{
    margin: 0px 10px;
}

.fi-brands-facebook{
    font-size: 22px;
    color: #5272ff ;

}

.fi-brands-github{
    font-size: 22px;
    color: #5272ff;
}

.fi-brands-discord{
    font-size: 22px;
    color: #5272ff;
}

.fi-ss-envelope{
    font-size: 22px;
    color:#5272ff;
}

.caja-formulario{
    background: linear-gradient(51deg, rgba(82,114,255,0.5410539215686274) 50%, rgba(255,192,203,0.8603816526610644) 82%);
    width: 90%;
    height: 425px;
    margin-top: 15px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo-formulario{
    font-family: "Dancing Script";
    width: 150px;
    margin: 10px 48px;
    padding: 8px;
    font-size: 20px;
    text-align: center;
    background-color: #5272ffd0;
    border-radius: 20px;
    color: white;
}

.contendor-formulario{
    width: 100%;
    height: 400px;
    background-color: white;
}

.caja-input{
    width: 200px;
    height: 60px;
    padding: 5px;
    font-family: "Dancing Script";
    font-size: 20px;
    text-align: center;
    background-color: white;
}

.input-margen{
    margin: 8px 0px;
    background-color: white;
} 

#texto-mensaje{
    width: 200px;
    height: 100px;
    padding: 5px;
    font-family: "Dancing Script";
    font-size: 20px;
    text-align: center;
    background-color: white;
}
.label-formulario{
    background-color: white;
}
#mensaje{
    margin: 8px 0px;
    background-color: white;
}

/* 
----------------------------------------SECTION FOOOTER--------------------------------------------------- */

.contenedor-footer{
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #5272ff;
}

.boton-contenedor{
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #5272ff;
}

.boton-footer{
    border: none;
    margin: 10px 5px;
    padding: 5px;
    background-color: #5272ff;
}

.a-footer{
    font-family:"Dancing Script" ;
    text-decoration: none;
    color: white;
    font-size: 12px;
}

.caja-footer{
    width: 90%;
    height: 200px;
    margin-top: 10px;
    background-color: #5272ff;
}

.iconos-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0;
    background-color: #5272ff;
}

.li-footer{
    background-color: #5272ff;
}

.a-footer{
    margin: 5px;
    padding: 5px;
    background-color: #5272ff;
    text-decoration: none;

}

#fi-brands-facebook{
    font-size: 30px;
    color: white;
    background-color: #5272ff;
}

#fi-brands-github{
    font-size: 30px;
    color: white;
    background-color: #5272ff;
}

#fi-brands-discord{
    font-size: 30px;
    color: white;
    background-color: #5272ff;
}

#fi-ss-envelope{
    font-size: 28px;
    color: white;
    background-color: #5272ff;
}

.parrafo-footer{
    background-color: #5272ff;
    font-size: 15px;
    font-family: "Raleway";
    color: white;
    margin: 20px;
    background-color: #5272ff;
}


/* ---------------------------------MEDIAS QUERIS-------------------------------- */

@media (min-width:768px) {

    /* -----------------------------NAV------------------------------ */
    nav{
        height: 80px;
    }
    .caja-nav{
        display: none;
    }
    
    .logo-nav{
        width: 150px;
       margin:  10px 50px;
    }

    .fi-br-menu-burger{
        font-size: 40px;
        margin: 10px 50px;
    }
    /* --------------------------------HEADER------------------------------------ */
    .caja-hero{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    } 
    .parrafo-hero1{
        font-size: 25px;
    }
    
    h1{
        width: 50%;
        font-size: 50px ;
        text-align: center;
    }
    .img-hero{
        width: 180px;
    }

    .parrafo-hero2{
        width: 90%;
        height: 60px;
        margin: 10px;
        font-size: 16px ;
    }

    .boton-hero{
        font-size: 30px;
        margin-bottom: 10px ;
        padding: 10px;

    }
  
    /* -------------------------------------MAIN-------------------------------- */

    main{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    
    .titulo-conocimiento{
        width: 60%;
        height: 60px;
        font-size: 50px;
        text-align: center;
        border-radius: 20px;
    }

    .parrafo-conocimiento{
        width: 80%;
        height: 50px;
        font-size: 18px;
    }

    .contenedor-imagenes{
        width: 200px;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .imagenes{
        width: 85px;
    }

    .p-conocimiento{
        font-size: 20px;
    }
     
/* -------------------------------SECTION CITA-------------------------------------- */
    #icono-cita{
        height: 60px;
    } 
    .fi-sc-quote-right{
        font-size: 50px;
    }

    .cita{
        width: 700px;
        height: 100px;
        text-align: center;
        font-size: 25px;
    }

    #autor-cita{
      font-size: 25px;
      margin: 15px;
}

/* --------------------------------------SECTION PROYECTOS------------------------------- */
    .contenedor-proyecto{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items:center;
        padding: 50px;
    }

    .texto-proyecto{
        width: 50%;
        text-align: center;
        font-size: 50px;
        border-radius: 25px;
        margin: auto;
    }

    .parrafo-proyecto{
    width: 90%;
    height: 80px;
    font-size: 20px;
    margin: auto;
}

.contenedorimg-proyecto{
    width: 280px;
    height: 230px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
} 

.img-proyecto{
    width: 80%;
    height: 150px;
}

.texto-img{
    width: 100%;
    font-size: 23px;
    text-align: center;
    margin: 8px 0;

}
/* -------------------------------------SECTION CONTACTOS Y FORMULARIO------------------------ */

.titulo-contactame{
    width: 80%;
    margin: 20px  auto;
    padding: 10px;
    font-size: 30px;
    text-align: center;
}

.texto-contactame{
    width: 90%;
    text-align: center;
    font-size: 16px;
    margin: 10px 8px;
    padding: 3px;
}
.ul-contactame {
    font-size: 30px;
}


.li-icono{
    width: 80%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .p-icono{
    margin: 0px 50px;
}

.fi-brands-facebook{
    font-size: 35px;
}

.fi-brands-github{
    font-size: 35px;
}

.fi-brands-discord{
    font-size: 35px;
}

.fi-ss-envelope{
    font-size: 30px;
}

#icono-email{
    margin: 0px 20px;
}

.titulo-formulario{
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    font-size: 30px;
}

.caja-input{
    width: 500px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.input-margen{
    width: 200px;
    height: 40px;
    margin: 8px 0px;
} 

#texto-mensaje{
    width: 500px;
    height: 100px;
    padding: 5px;
    font-size: 26px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.label-formulario{
    margin: 0px 10px;
    font-size: 26px ;
}

#mensaje{
    margin:8px;
}

/* ---------------------------------------FOOTER-------------------------------------- */

}