*{
    margin: 0;
    background-color: #ffc0cb;
}

/* -----------------------------------------NAV---------------------------------------------- */

nav{
    width: 100vw;
    height: 40px;
    background-color: #5272ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.caja-nav{
    width: 70%;
    height: 60px;
    margin: 0px 20px;
 }

.ul-navegacion{
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0;
    background-color: #5272ff;
}

.li-navegacion{
    padding: 10px;
    background-color: #5272ff;
    font-family: "Raleway";
    font-size: 24px;
    color: white;
    text-decoration: none;
}

.li-navegacion:hover{
    background-color: palevioletred;
    border-radius: 3px;
}
.contenedor-navi{
   background-color: #5272ff;
}

.logo-nav{
    width: 100px;
    margin: 0px 25px;
}

.fi-br-menu-burger{
    background-color: #5272ff;
    color: #ffc0cb;
    font-size: 20px;
    margin: 0px 30px;
}

/* -----------------------------------------------HEADER----------------------------------------------- */

.contenedor-hero{
    height: 500px;
    background-color: #ffc0cb;
    border: 3px solid rgb(255, 255, 139) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caja-hero{
    width: 90%;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.parrafo-hero1{
    width: 100%;
    font-family: "Raleway";
    font-size: 18px;
    text-align: center;
    margin: 10px;
}

h1{
    font-family: "Dancing Script";
    margin: 0px 5px 5px 5px ;
    font-size: 40px;
}

.img-hero{
    width: 65%;
}

.parrafo-hero2{
    width: 90%;
    height: 60px;
    font-family: "Raleway";
    font-size: 12px;
    text-align: center;
    margin: 8px;
}

.boton-hero{
    width: 150px;
    font-family: "Dancing Script";
   background-color:rgb(255, 255, 139) ;
     margin: 12px 12px 14px 12px;
    padding: 10px;
     font-size: 20px;
     border: none;
     border-radius: 5px;
     box-shadow: 8px 4px 20px 11px rgba(137,145,232,0.56);
     -webkit-box-shadow: 8px 4px 20px 11px rgba(137,145,232,0.56);
     -moz-box-shadow: 8px 4px 20px 11px rgba(137,145,232,0.56);
}

.boton-hero:hover{
    cursor: pointer;
    background-color: #5272ff;
    color: white;
}

/* ------------------------------------------MAIN----------------------------------------------------- */

main{
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, #94bbe9 100%);
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.titulo-conocimiento{
    font-family: "Dancing Script";
    background-color: #9dbae6;
    margin: 3px;
    font-size: 35px;
}

.parrafo-conocimiento{
    width: 80%;
    margin: 3px;
    padding: 3px;
    text-align: center;
    background-color: #b2b6de;
    font-family: "Raleway";
    font-size: 12px;
}

.contenedor-imagenes{
    background: radial-gradient(circle, rgba(255,255,139,0.7175245098039216) 3%, rgba(253,254,139,0.87718837535014) 6%, rgba(184,233,148,1) 91%);
    border-radius: 10px;
    width: 120px;
    height: 120px;
    display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.contenedor-imagenes:hover{
   cursor: pointer;
}

.p-conocimiento{
    background-color: #ffff8b;
    font-family: "Dancing Script";
}

.imagenes{
    width: 60px;
    margin: 10px;
    background-color: #ffff8b;
}

/* --------------------------------------SECTION CITA----------------------------------------- */

.seccion-cita{
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: "Dancing Script";
}

#icono-cita{
    width: 50px;
    height: 30px;
    margin: 0px 25px;
    text-align: center;
}

.fi-sc-quote-right{
    font-size: 30px;
}

.cita{
    width: 300px;
    height: 80px;
    text-align: center;
    font-size: 16px;
}

#autor-cita{
    font-size: 20px;
  margin-bottom: 20px;
}

/* -----------------------------------------SECTION PROYECTOS---------------------------------------- */

.contenedor-proyecto{
    height: 1200px;
    background-color: #ffff8b;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.texto-proyecto{
    width: 230px;
    font-family: "Dancing Script";
    background: radial-gradient(circle, rgba(255,192,203,1) 12%, rgba(198,82,255,0.773546918767507) 63%, rgba(255,192,203,1) 100%);
    margin: 3px;
    padding: 10px;
    text-align: center;
    font-size: 35px;
    border-radius: 25px;
}

.parrafo-proyecto{
    width: 250px;
    margin: 3px;
    padding: 3px;
    text-align: center;
    background-color: #ffff8b;
    font-family: "Raleway";
    font-size: 12px;
}

.contenedorimg-proyecto{
    width: 150px;
    height: 130px;
    background: radial-gradient(circle, rgba(255,192,203,1) 12%, rgba(198,82,255,0.773546918767507) 63%, rgba(255,192,203,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedorimg-proyecto:hover{
    cursor: pointer;
}

.a-proyecto{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-proyecto{
    width: 130px;
    height: 80px;
}

.texto-img{
    width: 100%;
    font-family: "Raleway";
    background-color: white;
    font-size: 14px;
    text-align: center;
    margin-top: 8px;
}

/* --------------------------------------------SECTION CONTACTO Y FORMULARIO------------------------------------- */

.contenedor-secciones{
    background-color: #ffff8b;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-contacto{
    border: 5px double #5272ff;
    background: linear-gradient(51deg, rgba(255,255,139,0.8995973389355743) 18%, rgba(255,192,203,0.8547794117647058) 85%);
    width: 90%;
    height: 980px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.caja-contacto{
    width: 90%;
    height: 425px;
    margin: 0;
    background: linear-gradient(51deg, rgba(255,255,139,0.8995973389355743) 18%, rgba(255,192,203,0.8547794117647058) 85%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.titulo-contactame{
    font-family: "Dancing Script";
    width: 120px;
    margin: 10px auto ;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    background-color: #5272ffd0;
    border-radius: 20px;
    color: white;
}
.texto-contactame{
    font-family: "Raleway";
    text-align: center;
    font-size: 14px;
    margin: 0px 8px;
    background: linear-gradient(51deg, rgba(255,255,139,0.8995973389355743) 18%, rgba(255,192,203,0.8547794117647058) 85%);
}

.ul-contactame {
    height: 60%;
    margin: 2px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    list-style: none;
    font-family: "Raleway";
    font-size: 20px;
    background: linear-gradient(51deg, rgba(255,255,139,0.8995973389355743) 18%, rgba(255,192,203,0.8547794117647058) 85%);

}

.li-icono{
  width: 230px;
  height: 35px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.p-icono{
    margin: 0px 10px;
}

.fi-brands-facebook{
    font-size: 25px;
    color: #5272ff ;
}

.fi-brands-facebook:hover{
    cursor: pointer;
    color: black;
}

.fi-brands-github{
    font-size: 25px;
    color: #5272ff;
}

.fi-brands-github:hover{
    cursor: pointer;
    color: black;
}

.fi-brands-discord{
    font-size: 25px;
    color: #5272ff;
}

.fi-brands-discord:hover{
    cursor: pointer;
    color: black;
}

.fi-ss-envelope{
    font-size: 22px;
    color:#5272ff;
}

.fi-ss-envelope:hover{
    cursor: pointer;
    color: black;
}

.caja-formulario{
    background: linear-gradient(51deg, rgba(82,114,255,0.5410539215686274) 50%, rgba(255,192,203,0.8603816526610644) 82%);
    width: 90%;
    height: 550px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.titulo-formulario{
    font-family: "Dancing Script";
    width: 150px;
    margin: 10px 45px;
    padding: 8px;
    font-size: 20px;
    text-align: center;
    background-color: #5272ffd0;
    border-radius: 20px;
    color: white;
}

.contenedor-formulario{
    width: 80%;
    height: 360px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.caja-input{
    padding: 5px;
    font-family: "Dancing Script";
    font-size: 20px;
    text-align: center;
    background-color: white;
}

.input-margen{
    margin: 8px 0px;
    background-color: white;
}

.input-margen:hover{
    background-color: #5272ffa8;
}

#texto-mensaje{
    width: 180px;
    height: 100px;
    margin: auto;
    padding: 5px;
    font-family: "Dancing Script";
    font-size: 20px;
    text-align: center;
    background-color: white;
}
.label-formulario{
    background-color: white;
}
#mensaje{
    margin: 8px 0px;
    background-color: white;
}

#mensaje:hover{
    background-color:#5272ffa8 ;
}

.boton-formulario{
    font-family: "Dancing Script";
    background-color: #5272ff;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 22px;
    color: white;
    border: none;
    border-radius: 5px;
 }

 .boton-formulario:hover{
     cursor: pointer;
     background-color: pink;
     color: black;

}

/*
----------------------------------------SECTION FOOOTER--------------------------------------------------- */

.contenedor-footer{
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #5272ff;
}

.boton-contenedor{
    width: 90%;
    margin-top: 4px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #5272ff;
}

.boton-footer{
    border: none;
    margin: 8px 5px;
    padding: 5px;
    background-color: #5272ff;
}

.a-footer{
    font-family:"Dancing Script" ;
    text-decoration: none;
    color: white;
    font-size: 12px;
}

.a-footer:hover{
    cursor: pointer;
    background-color: palevioletred;
    padding: 10px;
    border-radius: 5px;
}

.caja-footer{
    width: 90%;
    height: 50px;
    margin-top: 10px;
    background-color: #5272ff;
}

.iconos-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0;
    background-color: #5272ff;
}

.li-footer{
    background-color: #5272ff;
}

.ali-footer{
    margin: 5px;
    padding: 5px;
    background-color: #5272ff;
    text-decoration: none;
}

#fi-brands-facebook{
    font-size: 30px;
    color: white;
    background-color: #5272ff;
}

#fi-brands-facebook:hover{
    color: palevioletred;
}

#fi-brands-github{
    font-size: 30px;
    color: white;
    background-color: #5272ff;
}

#fi-brands-github:hover{
    color: palevioletred;
}

#fi-brands-discord{
    font-size: 30px;
    color: white;
    background-color: #5272ff;
}

#fi-brands-discord:hover{
    color: palevioletred;
}

#fi-ss-envelope{
    font-size: 28px;
    color: white;
    background-color: #5272ff;
}

#fi-ss-envelope:hover{
    color: palevioletred;
}


.parrafo-footer{
    background-color: #5272ff;
    font-size: 15px;
    font-family: "Raleway";
    color: white;
    margin: 20px;
    background-color: #5272ff;
}


/* ---------------------------------MEDIAS QUERIS 768-------------------------------- */

@media (max-width:768px) {
    .caja-nav {
        display: none;
    }
}

@media (min-width:768px) {

    /* ------NAV---- */
    nav{
        height: 80px;
    }
    .caja-nav{
        display: none;
    }

    .logo-nav{
        width: 170px;
       margin:  5px 50px;
    }

    .fi-br-menu-burger{
        font-size: 40px;
        margin: 10px 50px;
    }


    /* ----------HEADER---------------- */

    .contenedor-hero{
        height: 600px;
        border: 8px solid rgb(255, 255, 139) ;
    }
    
    .caja-hero{
        width: 90%;
        height: 580px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .parrafo-hero1{
        font-size: 40px;
    }

    h1{
        width: 50%;
        font-size: 60px ;
        text-align: center;
        margin: 20px;
    }
    .img-hero{
        width: 250px;
    }

    .parrafo-hero2{
        width: 90%;
        height: 85px;
        margin: 10px;
        font-size: 18px ;
    }

    .boton-hero{
        width: 300px;
        font-size: 40px;
    }

    /* ---------MAIN---------- */

    main{
        height: 900px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    .titulo-conocimiento{
        width: 60%;
        height: 60px;
        font-size: 50px;
        text-align: center;
        border-radius: 20px;
    }

    .parrafo-conocimiento{
        width: 80%;
        height: 50px;
        font-size: 18px;
    }

    .contenedor-imagenes{
        width: 300px;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 30px;
    }

    .imagenes{
        width: 90px;
    }

    .p-conocimiento{
        font-size: 24px;
    }

/* ----------SECTION CITA----------- */

.seccion-cita{
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: "Dancing Script";
}

    #icono-cita{
        height: 60px;
    }
    .fi-sc-quote-right{
        font-size: 50px;
    }

    .cita{
        width: 700px;
        height: 100px;
        text-align: center;
        font-size: 25px;
    }

    #autor-cita{
      font-size: 25px;
      margin: 15px;
}

/* ----------SECTION PROYECTOS--------- */
    .contenedor-proyecto{
        height: 1300px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items:center;
        padding: 50px;
    }

    .texto-proyecto{
        width: 50%;
        text-align: center;
        font-size: 50px;
        border-radius: 25px;
        margin: auto;
    }

    .parrafo-proyecto{
    width: 90%;
    height: 80px;
    font-size: 20px;
    margin: auto;
}

.contenedorimg-proyecto{
    width: 280px;
    height: 230px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.img-proyecto{
    width: 80%;
    height: 150px;
}

.texto-img{
    width: 100%;
    font-size: 23px;
    text-align: center;
    margin: 8px 0;

}
/* ------SECTION CONTACTOS Y FORMULARIO--------- */

.contenedor-secciones{
    height: 1300px;
}

.contenedor-contacto{
    height: 1260px;
}

.titulo-contactame{
    width: 80%;
    margin: 20px  auto;
    padding: 10px;
    font-size: 30px;
    text-align: center;
}

.texto-contactame{
    width: 90%;
    text-align: center;
    font-size: 16px;
    margin: 10px 8px;
    padding: 3px;
}

.caja-contacto{
    height: 600px;

}

.ul-contactame {
    width: 90%;
    height: 60%;
    margin: 2px;
    font-size: 30px;
}

.li-icono{
    width: 80%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .p-icono{
    margin: 0px 50px;
}

.fi-brands-facebook{
    font-size: 35px;
}

.fi-brands-github{
    font-size: 35px;
}

.fi-brands-discord{
    font-size: 35px;
}

.fi-ss-envelope{
    font-size: 30px;
}

#icono-email{
    margin: 0px 20px;
}

.caja-formulario{
    height: 600px;
}

.titulo-formulario{
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    font-size: 30px;
}

.contenedor-formulario{
    height: 320px;
    padding: 5px;
}

.caja-input{
    width: 80%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.label-formulario{
    margin: 0px 10px;
    font-size: 26px ;
}

.input-margen{
    width: 250px;
}

#texto-mensaje{
    width: 80%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#mensaje{
    width: 250px;
    margin:8px 0px;
}

.boton-formulario{
    width: 100px;
    font-size: 30px;
    border-radius: 10px;
 }

/* ---------FOOTER---------- */

.contenedor-footer{
    height: 250px;
}

.boton-contenedor{
    margin: 20px 0px;
}

.boton-footer{
    margin: 15px 5px;
}

.a-footer{
    font-size: 25px;
}

.caja-footer{
    height: 50px;
}

#fi-brands-facebook{
    font-size: 40px;
}

#fi-brands-github{
    font-size: 40px;
}

#fi-brands-discord{
    font-size: 40px;
}

#fi-ss-envelope{
    font-size: 38px;

}
.parrafo-footer{
    font-size: 20px;
}
}

/* -----------------------------------------MEDIA QUERIS 1024------------------------------- */

@media (min-width:1024px) {
    /* ------NAV------- */
    nav{
        height: 90px;
    }

    .caja-nav{
        display: inline;
    }

    .contenedor-navi{
    display: none;
    }

    .fi-br-menu-burger{
     display: none;
    }
     
    .logo-nav{
        width: 180px;
    }

    /* ------HEADER--------- */
    .contenedor-hero{
        height: 900px;
    }

    .caja-hero{
        height: 880px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .parrafo-hero1{
        font-size: 40px;
    }

    h1{
        width: 90%;
        font-size: 70px;
    }
    .img-hero{
        width: 350px;
    }

    .parrafo-hero2{
        width: 95%;
        height: 80px;
        margin: 4px;
        font-size: 22px ;
    }

    .boton-hero{
        font-size: 45px;
        padding: 20px;
    }

    /* -----MAIN-------- */

    main{
        height: 1100px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    .titulo-conocimiento{
        width: 60%;
        height: 75px;
        font-size: 65px;
    }

    .parrafo-conocimiento{
        font-size: 22px;
    }

    .contenedor-imagenes{
        width: 400px;
        height: 250px;
        margin-bottom: 30px;
    }

    .imagenes{
        width: 110px;
    }

    .p-conocimiento{
        font-size: 28px;
    }

/* --------SECTION CITA------ */

.seccion-cita{
    height: 1000px;
}
#icono-cita{
    width: 100px;
    height: 90px;
}
.fi-sc-quote-right{
    font-size: 80px;
}

.cita{
    height: 180px;
    font-size: 35px;
    margin-top: 5px;
}

#autor-cita{
  font-size: 30px;
  margin: 15px;
}

/* -------SECTION PROYECTOS-------- */
.contenedor-proyecto{
    height: 1400px;
}

.texto-proyecto{
    width: 60%;
    font-size: 65px;
    margin: auto;
}

.parrafo-proyecto{
    width: 90%;
    height: 60px;
    font-size: 22px;
    margin: auto;
}

/* ----SECTION CONTACTOS Y FORMULARIO--- */

.contenedor-secciones{
    height: 1500px;
}

.contenedor-contacto{
    height: 1450px;
}

.caja-contacto{
    height: 700px;
    margin: 10px 0px;
}

.titulo-contactame{
    font-size: 35px;
}

.texto-contactame{
    font-size: 22px;
    margin: 0px auto;
}

.ul-contactame {
    width: 90%;
    height: 70%;
    margin: 2px;
    font-size: 34px;
}

.li-icono{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fi-brands-facebook{
    font-size: 45px;
}

.fi-brands-github{
    font-size: 45px;
}

.fi-brands-discord{
    font-size: 45px;
}

.fi-ss-envelope{
    font-size: 39px;
}

#icono-email{
    margin: 0px 15px;
}

.caja-formulario{
    height: 700px;
    margin-bottom: 15px;
}

.titulo-formulario{
    font-size: 35px;
}

.contenedor-formulario{
    width: 80%;
    height: 400px;
    padding: 5px;
}

.caja-input{
    width: 90%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.label-formulario{
    margin: 0px 10px;
    font-size: 30px ;
}

.input-margen{
    width: 400px;
    height: 30px;
}

#texto-mensaje{
    width: 90%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
}

#mensaje{
    width: 400px;
    height: 70px;
    margin: 15px 0px 15px 15px;
}

.boton-formulario{
    width: 200px;
    font-size: 40px;
    border-radius: 10px;
 }


/* ------FOOTER----- */

.contenedor-footer{
    height: 300px;
}

.boton-contenedor{
    margin-top: 15px;
}

.boton-footer{
    margin: 15px 5px;
}

.a-footer{
    font-size: 35px;
}

.caja-footer{
    height: 70px;
}

#fi-brands-facebook{
    font-size: 60px;
}

#fi-brands-github{
    font-size: 60px;
}

#fi-brands-discord{
    font-size: 60px;
}

#fi-ss-envelope{
    font-size: 56px;

}
.parrafo-footer{
    font-size: 24px;
}
}

/* -------------------------MEDIA QUERIS +1028------------ */
@media (min-width:1028px){

    /* -----NAV---- */
nav{
    height: 100px;
}
.logo-nav{
    width: 250px;
    margin: 0px 25px;
}

.li-navegacion{
    font-size: 30px;
}
/* ---HEADER----- */

.contenedor-hero{
    height: 1200px;
    background-color: #ffc0cb;
    border: 10px solid rgb(255, 255, 139) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caja-hero{
    width: 90%;
    height: 1180px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.parrafo-hero1{
    width: 100%;
    font-family: "Raleway";
    font-size: 60px;
    text-align: center;
    margin: 10px;
}

h1{
    font-size: 100px;
    font-family: "Dancing Script";
    margin: 0px 5px 5px 5px ;
}

.img-hero{
    width: 450px;
}

.parrafo-hero2{
    width: 90%;
    height: 120px;
    font-size: 30px;
}
    

.boton-hero{
    width: 400px;
     font-size: 60px;
}

/* ---MAIN--- */

main{
    height: 1200px;
}

.titulo-conocimiento{
    width: 60%;
    height: 100px;
    font-size: 80px;
}

.parrafo-conocimiento{
    width: 90%;
    font-size: 25px;
    padding: 5px;
}

.contenedor-imagenes{
    width: 500px;
    height: 300px;
    margin-bottom: 30px;
}

.imagenes{
    width: 150px;
}

.p-conocimiento{
    font-size: 35px;
}


/* ----SECTION CITA---- */
    .seccion-cita{
        height: 1200px;
    }

    #icono-cita{
        width: 150px;
        height: 100px;
        margin: 0px 25px;
        text-align: center;
    }

    .fi-sc-quote-right{
        font-size: 100px;
    }

    .cita{
        width: 80%;
        height: 250px;
        text-align: center;
        font-size: 45px;
    }
    

    #autor-cita{
      font-size: 45px;
      margin-bottom: 20px;
    }
    
    /* ----SECTION PROYECTOS---- */

    .contenedor-proyecto{
        height: 1600px;
    }
    
    .texto-proyecto{
        width: 60%;
        height: 100px;
        font-size: 80px;
        margin: auto;
    }
    
    .parrafo-proyecto{
        width: 90%;
        height: 70px;
        font-size: 28px;
    }
    
    .contenedorimg-proyecto{
        width: 350px;
        height: 280px;
    }

    .a-proyecto{
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .img-proyecto{
        width: 90%;
        height: 180px;
    }

    .texto-img{
      font-size: 30px; 
    }

    /* -----SECTION CONTACTO Y FORMULARIO--- */

    .contenedor-secciones{
        height: 1800px;
    }
    
    .contenedor-contacto{
        height: 1750px;
    }
    
    .caja-contacto{
        height: 800px;
        margin: 10px 0px;
    }
    
    .titulo-contactame{
        font-size: 50px;
    }
    
    .texto-contactame{
        font-size: 28px;
        margin: 0px auto;
    }
    
    .ul-contactame {
        width: 90%;
        height: 70%;
        margin: 2px;
        font-size: 40px;
    }
    
    .li-icono{
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    
      .fi-brands-facebook{
        font-size: 50px;
    }
    
    .fi-brands-github{
        font-size: 50px;
    }
    
    .fi-brands-discord{
        font-size: 50px;
    }
    
    .fi-ss-envelope{
        font-size: 49px;
    }
    
    #icono-email{
        margin: 0px 0px 0px 40px;
    }
    
    .caja-formulario{
        height: 800px;
        margin-bottom: 15px;
    }
    
    .titulo-formulario{
        font-size: 50px;
    }
    
    .contenedor-formulario{
        width: 80%;
        height: 500px;
        padding: 5px;
    }
    
    .caja-input{
        width: 80%;
        height: 80px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: auto;
        font-size: 40px;
    }
    
    .label-formulario{
        margin: 0px 10px;
        font-size: 40px ;
    }
    
    .input-margen{
        width: 500px;
        height: 60px;
    }
    
    #texto-mensaje{
        width: 80%;
        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        font-size: 40px;
    }
    
    #mensaje{
        width: 500px;
        height: 80px;
        margin: 8px 0px;
    }
    
    .boton-formulario{
        width: 300px;
        font-size: 50px;
        border-radius: 10px;
     }

/* ----FOOTER---- */

.contenedor-footer{
    height: 400px;
}

.boton-contenedor{
    margin-top: 30px;
}

.boton-footer{
    margin: 15px 10px;
}

.a-footer{
    font-size: 40px;
}

.caja-footer{
    height: 80px;
}

#fi-brands-facebook{
    font-size: 70px;
}

#fi-brands-github{
    font-size: 70px;
}

#fi-brands-discord{
    font-size: 72px;
}

#fi-ss-envelope{
    font-size: 66px;

}
.parrafo-footer{
    font-size: 35px;
}
}


